#JaponSite{
    #header{
        #section-header-banner{
            height: 100px;
            background-color: #fff;
            content: '';
            background-size: auto 100%;
            }
    }
  
}
